.root__btn-primary{
    font-size: 21px;
    padding: 14.5px 51.5px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
}
.root__btn-primary:hover,root__btn-primary:focus{
    cursor: pointer;
    background-color: #96062c;
    transition: all ease .3s;
}