.hero__heading{
    font-size: 52px;
    line-height:108%;
    text-align: center;
    margin: auto;
    max-width: 804px;
    margin-top: 125px;
    margin-bottom: 74px;
}

.formmm{
    margin: auto;
}

.dataform{
    display: flex;
    flex-direction: column;
    /* outline: 1px solid red; */
    box-shadow: 0px 4px 69px 2px rgb(0 0 0 / 20%);
    border-radius: 15px;
    margin-bottom: 270px;
}

.dataform__heading{
    line-height: 108%;
    font-size: 28px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 2px solid #d9d9d9;
}
.dataform__heading--page1:after {
    content: ""; 
    display: block;
    width: 33%;
    margin-top: -2px;
    border-bottom: 2px solid #df2053;/
}
.dataform__heading--page2:after {
    content: ""; 
    display: block;
    width: 66%;
    margin-top: -2px;
    border-bottom: 2px solid #df2053;/
}
.dataform__heading--page3:after {
    content: ""; 
    display: block;
    width: 100%;
    margin-top: -2px;
    border-bottom: 2px solid #df2053;/
}
.dataform__heading__stepcount{
    font-weight: normal;
}

.dataform__body{
    padding: 55px 25px 25px;
    font-size: 16px;
}

.dataform__form{
    display: flex;
    flex-direction: column;
    gap: 24px;    
}

.dataform__input{
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
}
.dataform__input-radio label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 45px;
    border: 2px solid #404040;
    border-radius: 4px;

}
.dataform__input-radio{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.dataform__input > input[type="text"],.dataform__input > input[type="number"],.dataform__input > input[type="radio"],.dataform__input > input[type="time"],.dataform__input > textarea{
    min-height: 45px;
    border: 2px solid #404040;
    border-radius: 4px;
}


input[type="radio"]{
    /* display: none; */
    opacity: 0;
    position: fixed;
    width: 0;
}

.dataform__input__radio-label{
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:checked + .dataform__input__radio-label {
    background-color: #404040;
    color: white;
    /* display: inline-block; */
    /* border: 2px solid rebeccapurple; */
}


.dataform__buttons{
    display: flex;
    justify-content: space-between;
}
.dataform__termsofuse{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.dataform__termsofuse__title{
    font-size: 19px;
    font-weight: bolder;
    text-transform: uppercase;
    
}
.dataform__termsofuse__description{
    font-size: 16px;
    font-weight:normal;
    line-height: 121%;
    color: #404040;
    display: flex;
    flex-direction: column;
    gap: 18px;
}